.wrapper{
	padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

.all{
	background-color: #505050;
}

.shadow{
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
	box-shadow: 8px 11px 8px 0 #000;
}

header{
	background-color: #909090;
	height: 117px;
	padding-top: 10px;
	padding-bottom: 10px;
}

header img{
	margin:0;
	height: 100%;
}

.border_img{
	border: 5px solid red;
	border-radius: 10px;
}

.radius{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.right_h{
	float: right;
	position: relative;
	width: 285px;
}

.loupe{
	height: auto;
	margin-top: 2px;
}

.reload{
	float: right;
	height: auto;
	margin-right: 10px;
	width: 17px;
}

.close{
	bottom: 31px;
	height: auto;
	margin-right: 10px;
	position: absolute;
	right: 0;
	width: 17px;
}

.book{
	height: 85px;
	width: 60px;
}

.towel{
	width: 78px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.brick{
	background: repeat url('resources/brick.jpg');
	width: 120px;
	height: 70px;
}

.cluster{
	width: 1000px;
	margin-left: 10px;
	margin-top: 10px;
}

.side_left{
	width: 105px;
	padding-left: 35px;
	height: 385px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.side_right{
	width: 130px;
	height: 425px;
	padding-top: 20px;
	padding-left: 10px;
	text-align: center;
}

.side_left img{
	width: 70px;
	margin-bottom: 10px;
}

.middle .side{
	background-color: #909090;
	float: left;
}

.side_mid{
	margin-right: 30px;
	width: 1020px;
	margin-left: 30px;
	padding-bottom: 10px;
}

.middle{
	margin-top: 20px;
	width: 100%;
	padding-left: 30px;
}

.bold{
	font-size: 37px;
}

.txtsha{
	text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}

.italic{
	font-size: 20px !important;
	font-style: italic;
}

.green_box p{
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 0;
}

.green_box{
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 665px;
	left: -42px;
	padding-left: 10px;
	background-color: #88FF89;
	font-family: Arial;
}

.txt{
	width: 80%;
}

.sub{
	border: medium none;
	border-radius: 0;
	font-size: 13px;
	height: 19px;
	padding-bottom: 20px;
	padding-top: 1px;
	width: 80px;
	border: 1px solid #A8A4A5;
	background: #f5f7f6;
}
