.create
{
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 23px;
	background-color: #eab627;
	margin-top: 75px;
	width: 100%;
	height: 200px;
}

.login {
	background-color: #aae85f;
	width: 100%;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 23px;
	height:200px;
}

.Header {
	border-bottom: 1px solid #d8d8d8;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1350;
	font-size: 0;
}

.logo {
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
}

.panier {
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 70px;
}

input.logout {
	width: 20em;
	height: 10em;
}

.dropdown {
	width: 20%;
	margin-left: 15%;
	text-align: center;
	background-color: lightblue;
    position: relative;
    display: inline-block;
	min-width: 100px;
	min-height: 20px;
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #aae85f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#fulllogin {
	display: none;
	width: 80%;
	height: 500px;
	margin-left: 5%;
	text-align: center;
	background-color: #eab627;
    position: relative;
	border-radius: 25px;
	border: 2px solid #73AD21;
	font-size: 25px;
}

#fullregister {
	display: none;
	width: 80%;
	height: 500px;
	margin-left: 5%;
	text-align: center;
	background-color: #4b8ffc;
    position: relative;
	border-radius: 25px;
	border: 2px solid #73AD21;
	font-size: 25px;
}
