.Header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-bottom: 1px solid #d8d8d8;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1350;
	font-size: 0;
}

header ul {
	padding: 0;
}

body {
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	margin-top:75px;
	margin-left: 0;
	margin-right: 0;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 12px;
}

.logo_menu {
	background-color: #aae85f;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
	height: 41px;
}

.menu_category {
	padding-top: 14px;
	text-align: center;
	background-color: #4b8ffc;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 23px;
	color: white;
}

ul.niveau {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 51px;
}

ul.basket {
	top: 76px;
}


li.menu_category, li.rar {
	list-style-type: none;
	position: relative;
	width: 216px;
	height: 51px;
	margin: 0px;
	margin-left: -2px;
	border: 1px solid #000000;
}

li.rar2 {
	list-style-type: none;
	position: relative;
	float:right;
	width: 152px;
	margin: 0px;
	margin-left: -2px;
	margin-top: -1px;
	border: 1px solid #d8d8d8;
}

li.panier_product {
	padding-top:14px;
	margin:0;
	list-style-type: none;
	width: 152px;
	height: 40px;
	text-align: center;
	background-color: #ff879e;
	border: 1px solid #ff879e;
	font-size: 1rem;
}

li:hover ul.niveau {
	display: block;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 215px;
	border: 1px solid #d8d8d8;
	height: 40px;
}

.logo {
	background-color: #1f4c7c;
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
}

.panier {
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 70px;
}

.Users {
	background-color: #eab627;
	padding-top: 4px;
	padding-top: 5px;
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 65px;
}

.category_box {
	margin-left:215px;
	padding: 0;
	height:500px;
	/* line-height:3em; */
	overflow:scroll;
	padding:5px;
	color:#714D03;
	border:4px double black;
}

.Strate-top {
	width: 100%;
	min-height: 40px;
}

.text_cat {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 20px;
}

.Ordi {
	width: 300px;
	height: 200px;
}

.add_panier {
	color: white;
	background-color: #db324b;
	width: 300px;
	height: 30px;
	border-radius: 10px;
}

figure {
	display: inline-block;
	text-align: center;
}

.category_menu {
	position: fixed;
	margin: 0;
	margin-top: -4px;
	padding-top: 4px;
	width: 214px;
	border: 1px solid #d8d8d8;
}

.price_total {
	padding-top:14px;
	margin:0;
	list-style-type: none;
	width: 152px;
	height: 40px;
	text-align: center;
	border: 1px solid black;
	font-size: 1rem;
	background-color: black;
	padding-bottom: 4px;
	top: 76px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 72px;
	color: #cc022a;
}
