.header {
	position: absolute;
	height: 125px;
	padding: 0;
}

.header {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 124px;
	padding: 0px;
	border-bottom: 1px solid #f2f2f2;
}

.header_content {
	padding: 10px 20px;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
}

.header_logo {
	width: auto;
	height: auto;
	margin-left: 0;
	background-position: left 2px;
	background-size: 151px;
}

.Header {
	border-bottom: 1px solid #d8d8d8;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1350;
	font-size: 0;
}
.logo {
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
}
.panier {
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 70px;
}
.Users {
	padding-top: 4px;
	padding-top: 5px;
	border: 1px solid #d8d8d8;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 65px;
}

figure {
	display: inline-block;
	text-align: center;
}

.panier_box {
	margin:auto;
	padding: 0;
	width: 50%;
	height: 300px;

	/* line-height:3em; */
	overflow-y: auto;
	border:2px solid black;
	border-radius: 25px;
	background-color: #eab627;
	box-shadow: 10px 10px 100px #eab627;
}

.panier_elem {
	border-bottom: 1px solid black;
	padding: 5px;

}
