h1 {
	font-size: 2vw;
	text-align: center;
}
td p{
	font-size: 1vw;
}

table
{
	width: 100%;
}

td h1{
	margin: 10px 0;
}

.elem {
	text-align: left;
	color: white;
	margin: 0;
	bottom: 0;
}
.atom{
	text-align: right;
	color: white;
	margin: 0;
	Top: 0;
}
.grid {
	display: grid;
	grid-column-gap: 0.5%;
	grid-row-gap: 0.5%;
	grid-template-columns: auto auto auto;
	padding: 0.5%;
}
.no_border{
	border: none;
}
.center{
	text-align: center;
}
.write{
	color: white;
}
.white{
	background-color: white;
}
.grey{
	background-color:#949599;
}
.yellow{
	background-color:#f9b443
}
.red{
	background-color:#bd2132;
}
.purple{
	background-color:#6b4397;
}
.green{
	background-color:#0b673b;
}
.green-clear{
	background-color:#83c549;
}
.blue{
	background-color:#0e68a8;
}
.blue-clear{
	background-color:#1aa0db;
}
.pink{
	background-color:#b55391;
}
.orange{
	background-color:#f1692f;
}
