ul.niveau1{
	margin: 0 auto;
	width: 1330px;
}

.niveau1 li{
	float: left;
	width: 300px;
	padding: 15px;
}

ul.niveau2 {
	border: 1px solid grey;
	display: none;
	left: -2px;
	margin: 0;
	padding: 0;
	position: absolute;
 top: 49px;
}

ul.niveau3{
	left: 145px;
	position: absolute;
	display: none;
	margin: 0;
	padding: 0;
	top: 0;
}

li {
	list-style-type: none;
	position: relative;
	width: 140px;
	padding: 2px;
	margin: 0px;
	border: 1px solid #000000;

}

.no-border{
	border-top: none;
	border-left: none;
}
li:hover ul.niveau2, li li:hover ul.niveau3 {
	display: block;
}

.menu1{
	background-color: #4b8ffc;
}

.menu2{
	background-color: #2be299;
}

.menu3{
	background-color: #e22a40;
}

.menu4{
	background-color: #e2cf29;
}

.menu1 .niveau2{
	color: white;
	background-color: #4b8ffc;
}

.menu2 .niveau2{
	color: white;
	background-color: #2be299;
}

.menu3 .niveau2{
	color: white;
	background-color: #e22a40;
}

.menu4 .niveau2{
	color: white;
	background-color: #e2cf29;
}
