.Header {

	border-bottom: 1px solid #a0989a;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1350;
	font-size: 0;
}

.logo {
	background-color: #1f4c7c;
	border: 1px solid #a0989a;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
}

.panier {
	border: 1px solid #a0989a;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 70px;
}

.Admin {
	background-color: #aae85f;;
	padding-top: 4px;
	padding-top: 5px;
	border: 1px solid #a0989a;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 65px;
}

.Users {
	background-color: #eab627;
	padding-top: 4px;
	padding-top: 5px;
	border: 1px solid #a0989a;
	padding-bottom: 4px;
	padding-left: 40px;
	padding-right: 40px;
	float: right;
	width: 65px;
}

body {
	margin-left: 0;
	margin-right: 0;
	margin-top: 75px;
}

.logo_menu {
	padding-bottom: 6px;
	background-color: #aae85f;
	padding-top: 6px;
	width: 100%;
	height: 40px;
}
ul.niveau {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 51px;
}
li.menu_category, li.rar {
	list-style-type: none;
	position: relative;
	width: 216px;
	height: 51px;
	margin: 0px;
	margin-left: -2px;
	border: 1px solid #a0989a;
}
li:hover ul.niveau {
	display: block;
}
.category_menu {
	position: fixed;
	margin: 0;
	margin-top: -4px;
	padding-top: 4px;
	width: 214px;
	border: 1px solid #d8d8d8;
}

.menu_category {
	padding-top: 14px;
	text-align: center;
	background-color: #4b8ffc;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 23px;
	color: white;
}

.copy-right{
font-family: monospace;
font-style: italic;
text-align: right;
margin-right: 10px;
margin-top: 95%;
}
